{{$en := "en"}} <!DOCTYPE html>
<html lang="{{.Site.Language.Lang}}" dir="{{ if eq .Site.Language.Lang $en }}ltr{{ else }}rtl{{ end }}">
  <head>
    {{- partial "header.html" . -}}
  </head>
  <body>
    <div id="content">{{ partial "loader.html" . }} {{- block "main" . }} {{ end }}</div>
    {{- partial "footer.html" . -}}
    <!-- Essential Scripts -->
    <script src="/js/app.min.js"></script>
    {{- partial "netlify.html" . -}}
  </body>
</html>
