<footer class="footer footer--dark">
  <div class="container">
    <div class="footer__inner">
      <a class="footer__textLogo" href="{{ .Site.BaseURL | absURL }}">
        <img src="{{ .Param "logo" | absURL }}" alt="{{.Title}}" width="64" height="64"/>
      </a>
      <section class="footer__data">
        {{ if .Param "Copyright" }}
        <div class="footer__data__item">
          <p class="footer__row">
            {{ .Param "Copyright" }} &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            {{ .Param "CopyrightText"}}
          </p>
        </div>
        {{ end }}
        <!-- Footer Social Links -->
        <section class="footer__data__item">
          {{if .Site.Data.social.enable}} {{ range.Site.Data.social.items }}
          <div class="footer__row">
            <a class="footer__link" href="{{ .URL }}" target="_blank">{{ .name }}</a>
          </div>
          {{ end }} {{ end }}
          <div class="footer__row"><a href="./additional.html" class="footer__link">MIT license</a></div>
        </section>
      </section>
    </div>
  </div>
</footer>
