<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="{{ .Params.description}}" /> <meta name="author" content="{{ .Params.admin}}" />
<title>{{ .Title }}</title>
<!-- Don't forget to add your metadata here -->
<!-- Favicon -->
<link rel="shortcut icon" type="/image/x-icon" href="/images/logos/favicon.ico" />
<!-- google analytics -->
{{ template "_internal/google_analytics_async.html" . }}
<!-- Netlify-CMS intgration -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
