<!-- Hero(extended) navbar -->
<header class="navbar navbar--extended">
    <nav class="nav__mobile"></nav>
    <div class="container">
        <div class="navbar__inner">
            <a href="index.html" class="navbar__logo">Logo</a>
            <nav class="navbar__menu">
                <ul id="nav" class="navbar__menu">
                    {{ if .IsHome }}
                        <li><a href="#body">{{ with $.Site.Params.home }}{{ . }}{{ end }}</a></li>
                        {{ range sort .Site.Pages }}
                            {{ if .Params.menu}}
                                <li><a href="#{{ .Section }}">{{ humanize .Name  }}</a></li>
                        {{ end }}
                    {{ end }}
                    {{ else }}
                        {{ range sort .Site.Pages }} 
                            {{ if .Params.menu}}
                                <li><a href="{{ "/" | absLangURL }}#{{ .Section }}">{{ humanize .Section }}</a></li>
                            {{ end }}
                        {{ end }}
                    {{ end }}
            {{ range .Page.Translations }}
                <li class="active"> <a class='btn btn-transparent' href="{{ .Permalink }}" rel="alternate" hreflang="{{ .Language.Lang }}" >{{ .Language.LanguageName }}</a> </li>
            {{ end }}
        </ul>
            </nav>
            <div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
        </div>
    </div>
</header>