{{ with .Site.GetPage "/cta" }} {{ if not .Draft }}
<!-- Call To Action -->
<section class="cta cta--reverse">
  <div class="container">
    <div class="cta__inner">
      <h2 class="cta__title">{{ .Params.subtitle }}</h2>
      <p class="cta__sub cta__sub--center">{{ .Content }}</p>
      {{ if .Params.action}} <a href="{{ .Params.actionURL}}" class="button button__accent">{{ .Params.actionText}}</a>
      {{ end }}
    </div>
  </div>
</section>
{{ end }} {{ end }}
