{{ with .Site.GetPage "/sections" }} {{ if not .Draft }}
<!-- Expanded sections -->
<section id="sections">
  {{ range.Params.items }}
  <div class="expanded landing__section">
    <div class="container">
      <div class="expanded__inner">
        <div class="expanded__media"><img src="{{ .image }}" class="expanded__image" /></div>
        <div class="expanded__content">
          <h2 class="expanded__title">{{ .title }}</h2>
          <p class="expanded__text">{{ .text }}</p>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>

{{ end }} {{ end }}
