{{ with .Site.GetPage "/services" }} {{ if not .Draft }}
<!-- Steps -->
<section id="services" class="steps landing__section">
  <div class="container">
    <h2>{{ .Title }}</h2>
    <p>{{ .Params.subtitle }}</p>
  </div>
  <div class="container">
    <div class="steps__inner">
      {{ range.Params.items }}
      <div class="step">
        <div class="step__media"><img src="{{ .image }}" class="step__image" /></div>
        <h4>{{ .title }}</h4>
        <p class="step__text">{{ .text }}</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }} {{ end }}
